<div class="page-header">
  <h1>
    Favorited Mentors
  </h1>
  <p>Your favorited mentors will reach out to you if there's a match!</p>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Industry</th>
        <th>Current Job Title</th>
        <th>Current Employer</th>
        <th>Most Recent Education</th>
        <th>Actions</th>
      </tr>

      <% @favorites.each do |favorite| %>
      <tr>
        <td><%= User.find(favorite.favorited_id).name %></td>
          <% if Job.where(user_id: favorite.favorited_id).order(end_date: :asc)[0].end_date == nil then %>
            <td><%= Job.where(user_id: favorite.favorited_id, end_date: nil)[0].industry %></td>
            <td><%= Job.where(user_id: favorite.favorited_id, end_date: nil)[0].job_title %></td>
            <td><%= Job.where(user_id: favorite.favorited_id, end_date: nil)[0].employer %></td>
          <% else %>
            <td><%= Job.where(user_id: favorite.favorited_id).order(end_date: :desc)[0].industry %></td>
            <td><%= Job.where(user_id: favorite.favorited_id).order(end_date: :desc)[0].job_title %></td>
            <td><%= Job.where(user_id: favorite.favorited_id).order(end_date: :desc)[0].employer %></td>
          <% end %>
        <td><%= Degree.where(user_id: favorite.favorited_id).order(graduation_date: :desc)[0].degree + ", " + Degree.where(user_id: favorite.favorited_id).order(graduation_date: :desc)[0].school %></td>        
        <td>
          <a href="/users/<%= favorite.favorited_id %>" class="btn btn-primary">Show</a>
          <a href="/delete_favorite/<%= favorite.id %>" class="btn btn-danger" rel="nofollow">Unfavorite</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @favorites, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
