<!-- Validation failure messages -->
<% if @job.errors.any? %>
  <% @job.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Job</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_job" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for job_title -->
      <div class="form-group">
        <label for="job_title" class="control-label">
          Job title
        </label>

        <input type="text" id="job_title" name="job_title" placeholder="Job title" class="form-control" value="<%= @job.job_title %>">
      </div>

      <!-- Label and input for employer -->
      <div class="form-group">
        <label for="employer" class="control-label">
          Employer
        </label>

        <input type="text" id="employer" name="employer" placeholder="Employer" class="form-control" value="<%= @job.employer %>">
      </div>

      <!-- Label and input for start_date -->
      <div class="form-group">
        <label for="start_date" class="control-label">
          Start date
        </label>

        <input type="text" id="start_date" name="start_date" placeholder="Start date" class="form-control" value="<%= @job.start_date %>">
      </div>

      <!-- Label and input for end_date -->
      <div class="form-group">
        <label for="end_date" class="control-label">
          End date
        </label>

        <input type="text" id="end_date" name="end_date" placeholder="End date" class="form-control" value="<%= @job.end_date %>">
      </div>

      <!-- Label and input for industry -->
      <div class="form-group">
        <label for="industry" class="control-label">
          Industry
        </label>

        <input type="text" id="industry" name="industry" placeholder="Industry" class="form-control" value="<%= @job.industry %>">
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <button class="btn btn-success">
        Create Job
      </button>
      or
      <a href="/jobs">Cancel</a>
    </form>
  </div>
</div>
