<div class="page-header">
  <h3><%= @user.name %></h3>
    <p><b>Email:</b>  <%= @user.email %> <p>
       
      <% if Favorite.exists?(:favoriter_id => current_user, :favorited_id => @user.id) then %>

          <a href="/delete_favorite/<%=Favorite.where(:favoriter_id => current_user, :favorited_id => @user.id).pluck(:id)[0]%>"
          class="btn btn-info">
            <font color="white">Unfavorite</font>
          </a>

      <% else %>

        <form action="/create_favorite" method="post">

          <!-- Input for favoriter_id -->
          <div class="form-group">
            <input type="hidden" id="favoriter_id" name="favoriter_id" class="form-control" value="<%=current_user.id%>">
          </div>
        
          <!-- Input for favorited_id -->
          <div class="form-group">
            <input type="hidden" id="favorited_id" name="favorited_id" class="form-control" value="<%= @user.id %>">
          </div>
        
          <button class="btn btn-info">
            Favorite
          </button>
        </form>
        
      <% end %>
</div>

<!-- A User has many jobs -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Jobs
      </li>

      <% @user.jobs.order(start_date: :desc).each do |job| %>
        <li class="list-group-item">
          <a href="/jobs/<%= job.id %>">
            <%= job.job_title + ", " + job.employer%>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/jobs/<%= job.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == job.user %>
              <a href="/jobs/<%= job.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_job/<%= job.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many degrees -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Degrees
      </li>

      <% @user.degrees.each do |degree| %>
        <li class="list-group-item">
          <a href="/degrees/<%= degree.id %>">
            <%= degree.degree + ", " + degree.school %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/degrees/<%= degree.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == degree.user %>
              <a href="/degrees/<%= degree.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_degree/<%= degree.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="btn-group btn-group-justified">
  <a href="/users" class="btn btn-primary">
    Back
  </a>
</div>