<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @user.name %></dd>

      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many favorites -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Favorites
      </li>

      <% @user.favorites.each do |favorite| %>
        <li class="list-group-item">
          <a href="/favorites/<%= favorite.id %>">
            <%= favorite.favorited_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/favorites/<%= favorite.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/favorites/<%= favorite.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_favorite/<%= favorite.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many fans -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Fans
      </li>

      <% @user.fans.each do |favorite| %>
        <li class="list-group-item">
          <a href="/favorites/<%= favorite.id %>">
            <%= favorite.favorited_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/favorites/<%= favorite.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/favorites/<%= favorite.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_favorite/<%= favorite.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many jobs -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Jobs
      </li>

      <% @user.jobs.each do |job| %>
        <li class="list-group-item">
          <a href="/jobs/<%= job.id %>">
            <%= job.job_title %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/jobs/<%= job.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/jobs/<%= job.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_job/<%= job.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many degrees -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Degrees
      </li>

      <% @user.degrees.each do |degree| %>
        <li class="list-group-item">
          <a href="/degrees/<%= degree.id %>">
            <%= degree.school %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/degrees/<%= degree.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/degrees/<%= degree.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_degree/<%= degree.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many sent_messages -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Sent Messages
      </li>

      <% @user.sent_messages.each do |message| %>
        <li class="list-group-item">
          <a href="/messages/<%= message.id %>">
            <%= message.sender_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/messages/<%= message.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/messages/<%= message.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_message/<%= message.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many received_messages -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Received Messages
      </li>

      <% @user.received_messages.each do |message| %>
        <li class="list-group-item">
          <a href="/messages/<%= message.id %>">
            <%= message.sender_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/messages/<%= message.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/messages/<%= message.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_message/<%= message.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
